/* Write your CSS here */

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  color: red;
  border: 2px solid red;
  background-color: transparent;
  margin: 15px;
  padding: 15px;
  cursor: pointer;
}
